$color-dark: #262626;
$color-black:#000;
$color-white:#fff;
$color-primary: #d3ab55;
$color-secondary: #bbb;
$color-tertiary:#1f1d1d;


$font-dancing:'Dancing Script', cursive;
$font-josefin:'Josefin Sans', sans-serif;


